.timerBtn{
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: rgb(48, 19, 29);
    color: white;
    cursor: pointer;
    font-family: consolas,monospace;
}
#timeDisplay{
    font-size: 75px;
    color: rgba(81, 250, 3, 0.769);
    font-family: consolas,monospace;
}
#timeContainer{
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: rgb(30, 5, 5);
}